/* General Button Styles */
.tiptap{
    >* + *{
        margin-top: 0.75em;
    }
    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
    }
    h3{
        font-size: 1.8rem;
        font-weight: bold;
    }
    h2{
        font-size: 1.6rem;
        font-weight: bold;
    }
    h5{
        font-size: 1.4rem;
        font-weight: bold;
    }
    h6{
        font-size: 1.2rem;
        font-weight: bold;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.6;
    }
    ul{
        list-style-type: disc;
        margin-left: 1.5rem;
    }
    ui li p{
        margin: 0;
    }
    ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
    }
    ol li p{
        margin: 0;
    }
    pre{
        border-radius: 5px;
        color: #374151;
    }
    code{
        display: block;
        font-family: monospace;
        white-space: pre-wrap;
        font-size: 0.8rem;
        padding: 0.7rem 1rem;
        background-color: rgb(129, 101, 101);
        color: rgb(189, 174, 174);
    }
    hr{
        border: 1px solid rgb(199, 195, 195);
        margin: 20px 0;
    }
    a{
        color: #0ea5e9;
        text-decoration: underline;
    }
    blockquote{
        border-left: 4px solid #0891b2;
        padding-left: 1rem;
        font-style: italic;
        margin: 1rem 0;
    }
    blockquote p{
        font-style: italic;
    }
}
.button-group button {
    background-color: #3b3b3c; 
    color: #f1f5f9; 
    border: 1px solid #4b5563; 
    padding: 8px 12px;
    margin: 4px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Active State */
  .button-group button.is-active {
    background-color: #1f283b; 
    color: #ffffff;
    border-color: #323e5d;
  }
  
  /* Disabled State */
  .button-group button:disabled {
    background-color: #374151; 
    color: #9ca3af; 
    cursor: not-allowed;
  }
  
  /* Button Hover Effects */
  .button-group button:hover:not(:disabled) {
    background-color: #334155; 
    color: #e5e7eb;
  }
  
  /* Specific Button Styles */
  .button-group button.bold {
    font-weight: bold;
  }
  
  .button-group button.italic {
    font-style: italic;
  }
  
  .button-group button.strike {
    text-decoration: line-through;
  }
  
  .button-group button.underline {
    text-decoration: underline;
  }
  
  
  /* Save Button */
  button.bg-cyan-800 {
    background-color: #0891b2;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  button.bg-cyan-800:hover {
    background-color: #104e6b;
  }
  